html {
    background-image: url("/recources/images/white-waves.png");
}

body {
    width: 100%;
    
    

}

/* Main Header styling */
header {
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 75px;
    background-color:#ffffff;
    top: 0;
    border: 1px solid black; 
    overflow: hidden;
    border-bottom: 2px solid #cccccc;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
}

.nav-bar { 
    height: 100%;
    margin: 0 auto;
    width: 960px;
    /* border: 1px solid blue; */
    /* display: flex;
    align-items: center; */
    
}

#logo-nav { 
    height: 100%;
    width: 20%;
    background-color:#4aaaa5;
    color: #ffffff;
    /* border: 1px solid red; */
    float: left;
    text-align: center;
    font-size: 35px;
    padding-top: 17px; 
}


#nav {
    margin-top: 20px;
    float: right;
    /* border: 1px solid green; */
    
    
}
#border-left{
    padding-left: 20px;
    border-left: 2px solid #77777735;
}
#border-right{
    border-right: 2px solid #77777735;
    padding-right: 20px;
}

#nav, li{
    padding: 5px 0;
    margin-left: 20px;
    display: inline;
}

a {
    text-decoration: none;
    color: #777777;
}
a:hover{
    color: blue;
}


/* Main section styles  */

/* font-family: 'Georgia', Times, 'Times New Roman', serif; */